[2018-03-23 10:37] njpvm opened #25 "Outputs 404 each time"
Outputs 404 each time. how to cancel.
--------------------------------------------------------------------------------------------
[2018-03-23T10:31:31.952Z] INFO (7400 on USERCHI-NBKB0FN): incoming request
    reqId: 17
    req: {
      "id": 17,
      "method": "GET",
      "url": "/_next/-/main.js",
      "remoteAddress": "127.0.0.1",
      "remotePort": 52960
    }
[2018-03-23T10:31:31.955Z] I

[2018-03-23 10:41] delvedor commented on #25
Can you paste some basic code to reproduce the issue?

[2018-03-23 14:14] njpvm commented on #25
@delvedor
`
require('make-promises-safe')

const path = require('path')

const dev = process.env.NODE_ENV !== 'prod'

let logConfig
if (dev) {
  logConfig = {
    level: 'info',
    prettyPrint: true
  }
} else {
  logConfig = {
    level: 'info'
  }
}

const fastify = require('fastify')({
  logger: logConfig
})

fastify.register(require('fastify-static'), {
  root: path.join(__dirname, '.next'),

[2018-03-23 14:20] delvedor commented on #25
What is the content of `./plugins/fastify-react'`?

[2018-03-23 14:24] njpvm commented on #25
[code]

[2018-03-23 14:25] njpvm commented on #25
@delvedor
[code]

[2018-03-23 14:29] delvedor commented on #25
Again, I need a complete example to be able to reproduce the issue, what's the content of the next folder?
By the way, why aren't you using directly this plugin?

[2018-03-23 14:30] njpvm opened #26 "Plugin example appears 404"
![1](https://user-images.githubusercontent.com/37372739/37834850-b87ebe3a-2ee9-11e8-8d00-5956ff698179.png)

run:
[code]

visit url: http://127.0.0.1:3000/hello

![qq 20180323222728](https://user-images.githubusercontent.com/37372739/37834740-64906508-2ee9-11e8-807a-716cd945f692.png)

This is a example is normal.https://github.com/zeit/next.js/tree/canary/examples/custom-server-fastify

[2018-03-23 14:45] njpvm commented on #25
@delvedor this is a example. https://github.com/njpvm/fastify-react

[2018-03-28 02:09] #25 closed

[2018-03-28 02:09] #26 closed

[2018-04-06 09:04] Snazzyham opened #27 "None of my functions are working"
Out of the box, does Fastify support using ES6?

I've got a fastify app serving up a Next.js document, but none of my onClick functions are working, and neither are my lifecycle methods.

[2018-04-06 09:13] delvedor commented on #27
Can you paste some code?

[2018-04-06 09:29] delvedor commented on #27
Does this works if you use `next` alone?

[2018-04-06 09:30] Snazzyham commented on #27
you mean if I spin up a next instance separate to fastify? yeah it does.

[2018-04-08 19:58] delvedor commented on #27
At the moment I have no time to investigate, if you do, or know someone who can do it, please go ahead! :)

[2018-04-18 04:06] binarykitchen opened #28 "Ready callback borken"
If you use the second example

[code]

then this error is thrown

[code]

[2018-04-18 12:44] delvedor commented on #28
Hi, thank your for pointing out.
The documentation is outdated and that example should be removed.
Would you min send a pr?

[2018-04-18 22:08] binarykitchen commented on #28
Well, I can't since I don't know the correct syntax.

[2018-04-19 02:33] binarykitchen opened #29 "Rename to fastify-next"
Because it's not really about React but next.js. There is no direct dependency to React

[2018-04-19 02:35] binarykitchen opened #30 "Rendering ourselves too painful"
This syntax really looks painful:

[code]

`req.req` and `reply.res`? Ugh ... can we do this more elegantly? Not sure how yet but something like

[code]

and correct/wrap this internally? I don't know. Just a suggestion to make it more attractive and less error prone for new users.

[2018-04-19 08:43] delvedor commented on #29
`next` is one of the best framework to perform react ssr, that's why we are using it.
`fastify-next` is too generic.

[2018-04-19 08:43] #29 closed

[2018-04-19 22:17] binarykitchen commented on #30
Why not overwrite the `.next()` function so that it shims `raw` as `req`? I am sure this will confuse others as well.

[2018-04-19 22:29] delvedor commented on #30
The `next` function is provided by this library.
I prefer to leave a more flexible api by exposing the actual next framework rather than expose a less flexible wrapper.
But if you have some proposal in mind, please open a PR and let's discuss it there :)

[2018-04-21 13:30] pyros2097 commented on #28
yeah... the ready/after callback is broken in the lastest fastify version. It works in the in version ^0.38.0

[2018-04-21 14:01] tsnieman commented on #29
I think `fastify-nextjs` or `fastify-nextjs-react` would be more accurate
names.

On Thu, Apr 19, 2018, 3:18 PM Michael Heuberger <notifications@github.com>
wrote:

[2018-04-21 14:27] delvedor commented on #28
Please see https://github.com/fastify/fastify-react/pull/31.

[2018-05-08 01:14] armandopadilla opened #32 "Not working with Next 6.0 Release"
Plugin and NextJS 6.0 dont seem to work.

Cannot read property 'manifest.js' of undefined
    at Head.getChunkPreloadLink

[2018-05-08 07:50] delvedor commented on #32
Hi!
Do you want to send a pr to fix this? :)

[2018-09-07 11:00] greenkeeper[bot] opened #34 "An in-range update of next is breaking the build 🚨"
## Version **6.1.2** of **next** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/fastify/fastify-react/compare/master...fastify:greenkeeper%2Fnext-6.1.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/zeit/next.js>next</a>

[2018-10-31 01:11] Jason-Argos opened #39 "fastify-react issue including a css file"

[2018-10-31 07:31] mcollina commented on #39
Can you please paste server.js?

[2018-11-01 19:13] Jason-Argos commented on #39
Minimal repro in the attached zip file.

[repro.zip](https://github.com/fastify/fastify-react/files/2539752/repro.zip)

[2018-11-12 10:04] mcollina commented on #39
I'm sorry, I've been traveling for the past two weeks, and I'll still be on the road this week.

[2018-11-13 03:05] greenkeeper[bot] opened #40 "An in-range update of react is breaking the build 🚨"
## There have been updates to the *react* monorepo:

 + - The `devDependency` [react](https://github.com/facebook/react) was updated from `16.6.1` to `16.6.2`.
- The `devDependency` [react-dom](https://github.com/facebook/react) was updated from `16.6.1` to `16.6.2`.

🚨 [View failing branch](https://github.com/fastify/fastify-react/compare/master...fastify:greenkeeper%2Fmonorepo.react-16.6.2).

Th

[2018-11-15 12:32] lependu commented on #40
I think this failed because of [this](https://status.npmjs.org/incidents/tphv5hny3q43) npm registry issue.

[2018-11-21 12:07] TheAifam5 commented on #29
I think `fastify-next` will be the best option, since uses `next`, so it's not a real "fastify-react" where should integrate only with `fastify` and react's hydrate.

[2018-11-29 09:26] greenkeeper[bot] opened #41 "An in-range update of fastify is breaking the build 🚨"
## The devDependency [fastify](https://github.com/fastify/fastify) was updated from `1.13.0` to `1.13.1`.

🚨 [View failing branch](https://github.com/fastify/fastify-react/compare/master...fastify:greenkeeper%2Ffastify-1.13.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

fastify is a devDependency of this project. It *

[2018-11-29 10:00] cemremengu commented on #41
https://github.com/gajus/table/issues/83

[2018-11-29 10:50] mcollina commented on #41
https://github.com/mcollina/autocannon/pull/179 removes table from autocannon.

[2018-11-29 11:57] #32 closed

[2018-11-29 12:01] #28 closed

[2018-11-29 12:01] #27 closed

[2018-12-03 10:04] #34 closed

[2018-12-03 10:04] #39 closed

[2018-12-03 11:46] #41 closed

[2018-12-03 11:46] #40 closed

[2018-12-09 19:57] millette opened #43 "Make next a peer dep"
It would let developers use a canary version of `next` if desired.

[2018-12-09 19:59] millette commented on #29
+1 on renaming to `fastify-next` or even `fastify-nextjs` if the former is deemed too generic.

[2018-12-11 18:52] awwong1 opened #44 "Add type declaration file"
Nice library! It would be nice to see this with TypeScript support. Is this something you would accept a PR for?

[2018-12-11 18:54] cemremengu commented on #44
@awwong1 definitely, please do so! :)

[2018-12-18 04:33] meotimdihia opened #47 "Promise may not be fulfilled with 'undefined' when statusCode is not 204"
Example is working , but i got this warning in console output:
`
{"level":50,"time":1545106522717,"msg":"Promise may not be fulfilled with 'undefined' when statusCode is not 204","pid":13839,"hostname":"DESKTOP-SAF118C","reqId":2,"err":{"type":"Error","message":"Promise may not be fulfilled with 'undefined' when statusCode is not 204","stack":"Error: Promise may not be fulfilled with 'undefined' w

[2018-12-18 10:33] delvedor commented on #47
Hi! We are working on it: https://github.com/fastify/fastify-react/pull/46 and https://github.com/fastify/fastify/issues/1330.

[2018-12-19 07:33] meotimdihia commented on #47
Thanks. I close this issue.

[2018-12-19 09:06] cemremengu commented on #44
Landed in #45

[2018-12-19 09:06] #44 closed

[2018-12-19 09:10] cemremengu commented on #43
I think this can be helpful @mcollina wdyt?

[2018-12-19 09:59] mcollina commented on #43
yes I think so!

[2018-12-21 11:44] #43 closed

[2019-01-07 22:38] TheAifam5 opened #49 "Rename to fastify-nextjs"
Hey!

I know, there is already an issue #29 but still, the package/repository should be named as `fastify-next` or `fastify-nextjs` (i prefer the @tsnieman name) because:
- The package/repository integrates only with Next.Js.
- The package/repository does not integrate with barebone React environments.
- The package/repository name barely says that is about React, not Nextjs which is misleading.
-

[2019-01-10 14:41] mcollina commented on #49
@delvedor @cemremengu I'm actually thinking that this is a good idea. Wdyt?

[2019-01-10 15:04] cemremengu commented on #49
Considering the confusion before and this argument (which I think is strong) I am +1.

How will the renaming process be? I hope it won't be too disruptive

[2019-01-10 15:05] mcollina commented on #49
We just:

a. rename this repository
b. change package.json name to `fastify-nextjs`.
c. publish on npm with version 1.0.0
d. deprecate fastify-react (there is a command in npm for this)

[2019-01-10 15:08] cemremengu commented on #49
If @delvedor agrees too I can take over this task

[2019-01-10 17:18] delvedor commented on #49
I think that the README states pretty well what this plugin is doing.
`React server side rendering support for Fastify with Next Framework.`

But since this is creating so much confusion let's change it.

[2019-01-11 08:53] cemremengu commented on #49
v1.0.0 published https://www.npmjs.com/package/fastify-nextjs

[2019-01-11 08:53] #49 closed

[2019-01-26 08:57] millette commented on #47
I think this can be closed now.

[2019-01-26 08:59] #47 closed

[2019-02-20 21:06] jimmiehansson opened #52 "Assignment for options misplaced in plugin (Next.js 7.0.3)"
**Description**
The current state of implementation of constructing the options object for Next to read on its construct is passed incorrectly.

[code]

**Environment**
fastify 1.13.3
fastify-nextjs 4.0.0
next 7.0.3

**Effect**
The Next construct is not aware of the current environment state, getting locked into development mode.

**Resolution**
Construct object by returning chain in right order

[2019-02-20 21:08] cemremengu commented on #52
Thanks @jimmiehansson ! Would you like to send a PR with a unit test ?

[2019-02-21 10:54] kokisalex opened #54 "Using fastify-nextjs with fastify-cookie"
Hi, i have module  fastify-cookie and fastify-nextjs. I need support cookies for context next pages. Is that possible without parsing cookies again in next request?

[code]

[2019-02-21 11:00] mcollina commented on #54
I don't understand. You mean the cookies returned from `/api/main`?

[2019-02-21 12:37] kokisalex commented on #54
No, fastify parses cookies and puts them in to `request.cookies`. In nextjs there's a raw request without parsed cookies in `context`. I need to pass some cookies to `context` in `getInitialProps`.

[code]

[2019-02-23 12:50] jimmiehansson commented on #52
Will get to this in the upcoming days, having a handful atm.

[2019-02-24 13:08] jimmiehansson commented on #30
While digging around the trenches there's some room for improvement, but I don't see the fault of this being how Fastify is dealing with the rendering, this is a simple interface.
This is not an attempt to reopen sealed issues, but have you considered the flexibility?

@binarykitchen

Export the list of components to render

[code]

Make a utility to render from the passed instance
[code]

Validat

[2019-02-24 18:51] mcollina commented on #54
Is the above code not working? Can you send a PR with a failing test?

[2019-02-25 08:41] kokisalex commented on #54
ok

[2019-03-01 20:15] kokisalex commented on #54
I'm sorry. The issue is not actual now. I found that the method in nextjs doesn't allow to send anything

[2019-03-01 20:15] #54 closed

[2019-03-27 11:54] meotimdihia opened #57 "It takes 10s to restart hello world app."
I know this is not fastify's problem but I think we can't use nextjs while developing backend code.
We need 1 way to reload server code but not to restart fastify server.

[2019-03-27 22:10] Eomm commented on #57
Hi,
do you mean the hello world of the read me file?
In case could you add more information how you run the application?

[2019-03-28 00:49] meotimdihia commented on #57
Hi, this is my results:

command: `node test1.js` **5s to start:**

[code]

command: `fastify start --watch --ignore-watch="node_modules .git logs .vscode .next dist pages" -l debug -P test2.js`  **10s to start**
[code]

command: `node test3.js`  **1s to start**

[code]

[2019-03-28 11:15] mcollina commented on #57
Which operating system are you in? Even 1s seems exceptionally slow.

I’m not super familiar with next, maybe we are missing some config for caching stuff.

[2019-03-28 11:30] meotimdihia commented on #57
My OS is windows 10.
Yes, I think its nextjs problem. I just ask if anyone met/knew solutions:

![2019-03-28_18-23-54](https://user-images.githubusercontent.com/300961/55154312-0ce0ba80-5187-11e9-8bec-ed29f4c5f4b3.gif)

[2019-03-28 11:37] meotimdihia commented on #57
But its strange too, if I start standalone nextjs-server, its just take 1-2s.

[2019-04-23 22:43] msheakoski opened #58 "How to use opts? Confused about next: property"
I saw that when defining a route, you can pass custom options to restrict the "method" and "schema" which are explained in the Fastify docs, but there is another required option, "next", that I do not understand: https://github.com/fastify/fastify-nextjs/blob/868056ea972717687ac60e335b2477518e834557/index.d.ts#L24-L34
According to the definition, it is supposed to a URL object, but I have no idea

[2019-04-25 06:24] Eomm commented on #58
Hi,
docs are not clear enough for that setting (an example is missing) so a PR would be great to improve it.

Anyway, that type describes the next decorator:

https://github.com/fastify/fastify-nextjs/blob/868056ea972717687ac60e335b2477518e834557/index.js#L17

And the next field is given "as is" to the next-app here:

https://github.com/fastify/fastify-nextjs/blob/868056ea972717687ac60e335b2477518

[2019-04-28 04:08] msheakoski commented on #58
Thank you for your reply, @Eomm. I did some further research and discovered a few problems with the typings:

1. The "next" opt should be optional and also probably renamed to parsedUrl so that it matches the Next.js code: https://github.com/zeit/next.js/blob/c9d599b69864f4a6c08cada4d0c9733cc630ddc4/packages/next-server/server/next-server.ts#L253-L259

2. The "next()" method that this plugin creat

[2019-04-28 04:16] msheakoski commented on #58
On second thought, I am not even sure if next/parsedUrl should even exist in opts because the URL is already parsed by Fastify prior to the default app.render() handler defined in this plugin being invoked: https://github.com/fastify/fastify-nextjs/blob/868056ea972717687ac60e335b2477518e834557/index.js#L54

If you provide your own callback, the default app.render() handler never runs, so you are f

[2019-06-07 09:27] matteoferigo opened #63 "Enums do not match in url path"
I'm trying to match url paths with specific locale enums.
I configured the rule in this way
[code]
The path matches successfully the espected urls:
- /en
- /it

but it matches also
- /cannot*en*ter
- /*it*doesntwork

Am I not setting the rule in the appropriate way?

[2019-06-07 09:40] matteoferigo commented on #63
Ok, got it. I have to set the rule in this way:
[code]

[2019-06-07 09:40] #63 closed

[2019-07-01 20:43] jimmiehansson commented on #52
@cemremengu Added tests finally

[2019-07-02 10:41] #52 closed

[2019-07-04 18:48] jimmiehansson commented on #57
Hey @meotimdihia

I haven't experienced any issues with this, but then again I'm not a Windows platform user either

This could be related to the services racing each other in the start.
Could you perhaps add a `next.config.js` and enable explicit `dev:enable` with logging in fastify. (You can pass this to the fastify object)

[code]

Additionally during the bootstrap if you can't get any further

[2019-07-04 19:39] StarpTech commented on #57
@meotimdihia what are your computer specs?
On the first sight it looks reasonable to me because in `dev` mode next.js will start with compiling your application and bootstrap cache etc.. On my machine (SSD, AMD Ryzen 5 2600X (12) @ 3.600G) it takes up to 5sec. If you want to avoid it you have to  split your api and frontend application in two processes or starting your next.js server in production

[2019-07-04 20:11] jimmiehansson commented on #57
I can second this, I've compiled a large sized project using this plugin with a ~6s bootstrap on a nvme, i7. Keep in mind though that this is a large dev build

[2019-07-05 03:12] meotimdihia commented on #57
Hi, my CPU is Xeon E3-1231 v3 @3.40Ghz.
According to, @jimmiehansson  @StarpTech, seems at least, we still need 5-6s to compile => its hard to code and debug.

Currently, I am using Webpack hot module reload for fastify+nextjs to solve this problem.

[2019-07-07 16:44] StarpTech commented on #57
@meotimdihia I don't understand your issue. Next.js is shipped with HMR already. If you restart your application on every change, webpack has to compile it again and again. If you want to save time you should run your api in a separate process.

[2019-07-08 02:18] meotimdihia commented on #57
@StarpTech next.js just reload when we modified files in `pages` directory, while we need to work with other directories. Example: add new routes, fix middleware, .... aren't working with next.js's HMR.

[2019-07-08 06:15] StarpTech commented on #57
Then don't put your api under the nextjs directories. Put your api in a directory called "server" next to the "pages".

[2019-07-08 08:46] meotimdihia commented on #57
I want to clarify this again:

After use Webpack HMR, I don't need to restart Fastify server or Next.js.

Thanks for the suggestion, I will try this - my head is still same logic as using PHP framework, I don't completely understand node.js ways.

[2019-07-10 04:32] meotimdihia commented on #57
I close issues,
[Next 9](https://nextjs.org/blog/next-9) introduced: Dynamic Route, API Routes. May change how we will work with next.js.

[2019-07-10 04:32] #57 closed

[2019-08-07 11:04] greenkeeper[bot] opened #66 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.6.9` to `12.7.0`.

🚨 [View failing branch](https://github.com/fastify/fastify-nextjs/compare/master...fastify:greenkeeper%2F%40types%2Fnode-12.7.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a de

[2019-08-08 17:26] Eomm commented on #66
Re-run the CI and it is ok

[2019-08-08 17:26] #66 closed

[2019-08-15 13:47] jibin2706 opened #67 "How to send data from fastify to nextjs"
`
fastify.get('/a', (req, reply) => {
        return app.render(req.req, reply.res, '/a', req.query).then(() => {
        reply.sent = true
})
`

[2019-08-15 13:48] #67 closed

[2019-09-27 11:13] shanurrahman commented on #25
I am getting the same error here not sure why

[2019-10-30 16:30] greenkeeper[bot] opened #72 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.12.0` to `12.12.1`.

🚨 [View failing branch](https://github.com/fastify/fastify-nextjs/compare/master...fastify:greenkeeper%2F%40types%2Fnode-12.12.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a

[2019-11-10 21:45] #72 closed

[2019-12-10 20:20] greenkeeper[bot] opened #75 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.12.16` to `12.12.17`.

🚨 [View failing branch](https://github.com/fastify/fastify-nextjs/compare/master...fastify:greenkeeper%2F%40types%2Fnode-12.12.17).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node i

[2020-02-06 20:59] greenkeeper[bot] opened #77 "An in-range update of fastify is breaking the build 🚨"
## The devDependency [fastify](https://github.com/fastify/fastify) was updated from `2.11.0` to `2.12.0`.

🚨 [View failing branch](https://github.com/fastify/fastify-nextjs/compare/master...fastify:greenkeeper%2Ffastify-2.12.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

fastify is a devDependency of this project. It

[2020-02-07 17:46] Eomm commented on #77
@Ethan-Arrowood this seems not a flaky error, the tsc tests are failing on all node versions

Would you mind to take a look whenever you have a time slot?

[2020-02-07 17:50] Ethan-Arrowood commented on #77
Yes I’ll take a look asap
--

Ethan Arrowood

GitHub <https://github.com/Ethan-Arrowood> | Twitter
<https://twitter.com/ArrowoodTech>

[2020-02-07 18:53] Ethan-Arrowood commented on #77
TypeScript errors are coming from `next` dependencies. Let me check out this code locally and figure it out

[2020-02-24 14:49] greenkeeper[bot] opened #79 "An in-range update of fastify-plugin is breaking the build 🚨"
## The dependency [fastify-plugin](https://github.com/fastify/fastify-plugin) was updated from `1.6.0` to `1.6.1`.

🚨 [View failing branch](https://github.com/fastify/fastify-nextjs/compare/master...fastify:greenkeeper%2Ffastify-plugin-1.6.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

fastify-plugin is a direct depen

[2020-02-28 08:20] greenkeeper[bot] opened #80 "An in-range update of react is breaking the build 🚨"
## There have been updates to the *react* monorepo:

 + - The `devDependency` [react](https://github.com/facebook/react) was updated from `16.12.0` to `16.13.0`.
- The `devDependency` [react-dom](https://github.com/facebook/react) was updated from `16.12.0` to `16.13.0`.

🚨 [View failing branch](https://github.com/fastify/fastify-nextjs/compare/master...fastify:greenkeeper%2Fmonorepo.react-2020022

[2020-03-14 20:14] greenkeeper[bot] opened #81 "An in-range update of standard is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [standard](https://github.com/standard/standard) was updated from `14.3.1` to `14.3.2`.

🚨 [View failing branch](https://github.com/fastify/fastify-nextjs/compare/master

[2020-03-18 19:54] donburks commented on #57
Running into a similar issue. Even on a nearly new MBP, it's taking nearly 6s to compile my app in dev mode, and in production, I'm getting `ERR_AVVIO_PLUGIN_TIMEOUT` errors and my build fails entirely.

[code]

[2020-03-25 23:04] rgrove opened #84 "Response header set via `reply.header()` in a custom handler never gets sent"
## 🐛 Bug Report

A response header that's set via `reply.header()` or `reply.headers()` in a custom handler will never be sent.

This is because Fastify buffers headers internally instead of setting them on the `http.ServerResponse` instance, and only sends them after `reply.send()` is called. But since Next.js calls `.end()` directly on the `http.ServerResponse` instance, Fastify never has an opp

[2020-03-25 23:23] mcollina commented on #84
Would you like to send a PR? We also need somebody to help in maintaining this module.

[2020-03-25 23:27] rgrove commented on #84
Yep, I'd be happy to send a PR, but I'm afraid I don't see a good way to fix this without upstream changes to Fastify itself, since Fastify's public API doesn't currently provide a way to get all response headers.

If you think Fastify would be open to a PR that adds something like a `reply.getHeaders()` method, then I'd be happy to do that too. But I thought I'd bring it up here first to see if a

[2020-03-26 10:53] mcollina commented on #84
That'd be nice, yes!

[2020-04-25 18:02] ilyaviache commented on #57
@donburks You can change **pluginTimeout** time to avoid this error
https://github.com/fastify/fastify/blob/master/docs/Server.md#plugintimeout

[2020-04-25 22:23] StarpTech commented on #57
There is a big misunderstanding. Fastify-nextjs starts a new next.js instance and wire up what is needed to run and develop a next.js app. 2-5 is common depending on the computer specs and project complexity. If you are working side-by-side on an api endpoint you have to restart your api, EVERYTIME. To avoid this you should run your api and nextjs instance in separate processes. In that way you ca

[2020-04-27 04:56] donburks commented on #57
@ilyaviache - The last line of my post indicates that I have already tried doing this. And to @StarpTech 's point, this NextJS app is just for the front-end, the API is running in a fully separate instance.

[2020-04-27 08:06] StarpTech commented on #57
@donburks How is it then related to fastify?

[2020-04-27 08:09] StarpTech commented on #57
@donburks Please post a fully reproducible example otherwise we can't help.

[2020-05-02 22:05] hybaken opened #87 "Unable to read Body of POST"
## 🐛 Bug Report

Body is never presented in context.req

## To Reproduce

1. Create POST page.
2. Send POST request to this page
3. Render the data in body

[code]

## Expected behavior

context.req.body is not null

[code]

## Your Environment

- *node version*: v12.3.1
- *fastify version*: >=^2.0.0
- *os*: Mac

[2020-05-03 06:59] Eomm commented on #87
I don't know who `context.req` is: could you add a complete reproducible example that we can run just with `node index.js`?

[2020-05-23 01:44] puvi034 opened #88 "fastify.next is not a function"
#### You have already researched for similar issues?
Yes. I searched in the issue list and could n't find any.

#### Are you sure this is an issue with the fastify or are you just looking for some help?
 The issue seem to be in fastify-nextjs plugin.

#### Steps to reproduce.

1. clone https://github.com/fastify/fastify-nextjs.git
2. `cd fastify-nextjs && npm install`
2. run `npm run dev`

node ve

[2020-05-23 03:27] puvi034 commented on #88
This issue seem to be a timeout issue and by default fastify wait for 10 secs. Changed timeout period and it started working.

[2020-05-24 12:58] #88 closed

[2020-06-04 09:00] servo1x opened #89 "Next.js API routes support?"
## 🐛 Bug Report

We're not able to render next.js api routes, as described here: https://nextjs.org/docs/api-routes/introduction

## To Reproduce

Steps to reproduce the behavior:

[code]

[code]

[code]

[code]

## Expected behavior

API routes should return valid json.

## Your Environment

- *node version*: 12
- *fastify version*: 2.11.0
- *os*: Mac

## Workaround

Define API routes in fastify,

[2020-06-05 07:29] mcollina commented on #89
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-06-18 08:08] daofresh commented on #89
I think this plugin should simply wrap the requests and redirect them to the Next handler, which will avoid problems.

[2020-06-18 09:25] mcollina commented on #89
Which it's what it is doing.

[2020-06-22 19:10] #58 closed

[2020-07-06 21:54] rqbazan commented on #84
Hey, @mcollina ✋ Recently I've tried to migrate my custom NextJS server from Express to Fastify, and in my view, what @rgrove said is a limitation of Fastify

`getHeaders` represents a good patch for this specific case, but the whole point could be fixed if Fastify extends [from ServerResponse](https://github.com/expressjs/express/blob/3ff1dbeb73732b6aae73f8df407e3bb423ccc3b7/lib/response.js#L42)

[2020-07-07 13:06] mcollina commented on #84
There are quite a few reasons to not do what express does, for completeness, I'm listing a few here:

1. `IncomingMessage` and `ServerResponse` are extremely tied to the HTTP/1 implementation of Node.js core. Which make supporting http/2 and in the future http/3 impossible for Express.
2. Avoid monkeypatching - in order to work, Express monkeypatches the internals of those instances, fundamentally

[2020-07-07 21:24] rqbazan commented on #84
I got it @mcollina, so sadly there is no way to use `reply` and `request` of Fastify in a NextJS app (`getServerSideProps`), and based on the 2nd point, I shouldn't try to use it in the first place. 😕

[2020-07-09 13:42] heisonyee commented on #89
Red the guide [https://nextjs.org/docs/api-routes/api-middlewares#custom-config](url), try to add

[code]
in  your /api/example.js, maybe, it will help, have a try.

[2020-07-09 14:11] heisonyee commented on #87
req in context is an **IncomingMessage** instance but not a **FastifyRequest**, so req does not have body  property.  Hope it may help. @hybaken

[2020-07-10 07:46] #75 closed

[2020-07-10 07:46] #77 closed

[2020-07-10 07:46] #79 closed

[2020-07-10 07:46] #80 closed

[2020-07-10 07:46] #81 closed

[2020-07-10 10:54] #87 closed

[2020-07-18 05:53] PabloSzx commented on #47
Did this error re-appeared again?

[code]

[code]

[2020-07-18 06:46] Eomm commented on #47
This issue is very old, please open a new one with a minimal exemple to reproduce

[2020-07-22 13:22] nilaysaha commented on #47
yes error still appears for no reason:
{"level":50,"time":1595423948211,"pid":7440,"hostname":"iot.oef.io","reqId":1,"err":{"type":"FastifyError","message":"Promise may not be fulfilled with 'undefined' when statusCode is not 204","stack":"FastifyError: Promise may not be fulfilled with 'undefined' when statusCode is not 204\n    at /home/ubuntu/projects/exams/medimaging/node_modules/fastify/lib/w

[2020-07-22 14:32] PabloSzx commented on #47
v5.0.4 fixed it

[2020-08-12 07:16] atzcl commented on #57
@donburks In the development phase, nextjs needs time to perform webpack related work, so you need to set a longer pluginTimeout

[2020-09-22 15:51] ganobrega opened #101 "Support for use Next-Routes"
## 🚀 Feature Proposal
The idea is to implement `next-routes` within `fastify-nextjs` to support custom routes when `useFileSystemPublicRoutes: false` on `next.config.js` .

Lets take a look on simple custom server for NextJS with `next-routes`.

[code]

[code]

[code]

## Motivation

On my work we need to set the option `useFileSystemPublicRoutes` as `false`. We don't want to adopt the Next route

[2020-09-23 06:47] mcollina commented on #101
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-10-13 02:37] alekzonder opened #102 "Can't set options.dev = false programmatically"
## 🐛 Bug Report

Can't set dev option to false programmatically, option redeclared with [Object.assign to true](https://github.com/fastify/fastify-nextjs/blob/master/index.js#L8). dev option can be changed only with NODE_ENV = production

## To Reproduce

Steps to reproduce the behavior:

[code]

Next.js started in development mode.

https://runkit.com/alekzonder/object-assign

## Expected behavio

[2020-10-14 18:16] alekzonder commented on #102
👍

[2020-10-14 18:16] #102 closed

[2020-10-22 08:43] #84 closed

[2020-10-31 04:36] #89 closed

[2020-10-31 04:36] #101 closed

[2021-02-17 12:53] neophob opened #175 "Missing deps - react-dom/server - document issue"
## 💥 Regression Report

I installed the module, registered it to my fastify server - then starting of my service failed due missing deps.

As written in the readme, I ran `npm i fastify-nextjs next --save` to install this module, package.json diff looked fine:
+    "fastify-nextjs": "^5.1.0",
+    "next": "^10.0.7",

however I tried to start my server which failed:

[code]

[code]

So I started to

[2021-02-17 15:36] neophob commented on #175
ok now I get it, my mistake was to install `react-dom/server` instead `react-dom`, doh! However to improve this what do you think about changing the install documentation from

`npm i fastify-nextjs next --save` to

`npm i fastify-nextjs next react react-dom --save`?

[2021-02-17 17:06] mcollina commented on #175
That would be amazing! Would you like to send a PR?

[2021-02-18 08:33] #175 closed

[2021-02-19 07:42] neophob opened #180 "Integration with next-auth fails, routing issue"
## 🐛 Bug Report

I want to integrate next-auth with my fastify-nextjs project. This worked until the next.auth library does the login/POST callback - somehow this call does not succeed and just times out. I ported the exact same code to a vanilla Next.js project (using `npx create-next-app`) and there it works flawlessly!

## To Reproduce

- Fastify Next.js example which does not work: https://git

[2021-02-19 08:10] mcollina commented on #180
As you can see in https://github.com/fastify/fastify-nextjs/blob/2f2f9e0195c29db78a0563cc0b12984af8cc6b6a/index.js#L48, next is only exposed via GETs. You can call `fastify.next(path, 'post')` to also expose POSTs. Or maybe we can use `'all'` to publish it to all HTTP methods.

[2021-02-19 08:24] neophob commented on #180
Jep I saw that, thats why I did the PR to update the docs ;) I think I handle this correctly in my code where I do:

[code]

[2021-02-19 18:40] mcollina commented on #180
Weird, I thought it should work. WOuld you like to send a PR to fix this?

[2021-02-19 20:48] neophob commented on #180
Yeah, I tried to debug this issue, but somehow i failed ro fix this. do you have a hint for me?

[2021-02-20 10:44] mcollina commented on #180
I _think_ the POST body might already be parsed when it reaches next.

[2021-02-22 23:05] neophob commented on #180
Hmm even if we use `handleNextRequests(req.raw, reply.raw)`?

what happen here is the `handleNextRequests` call never returns:
[code]

when the request is canceled THEN `handleNextRequests` resolves. So I replaced the `const handleNextRequests = app.getRequestHandler()` with `const handleNextRequests = app.router.execute.bind(app.router)` as a quick hack - with the same result as before. But this

[2021-02-23 08:53] mcollina commented on #180
It needs to be investigated but likely doable.

[2021-03-01 03:00] lanyusan opened #184 "Run fastify-nextjs in a subsite plugin aftter a prefix"
## 🚀 Feature Proposal

I will use an example to explain the feature proposal:

1. let's say user visit site-nextjs.abc.com/hello
2. It is rewritten to abc.com/site-nextjs/hello, which is handled by a plugin with a prefix `site-nextjs`
3. Fastify-next is registerred at the subserver of the plugin handling prefix site-nextjs, not at the global fastify server
4. fasitfy-next renderr nextjs as it is t

[2021-03-01 16:11] simoneb commented on #180
@neophob can you provide a repro for this issue?

[2021-03-01 19:33] neophob commented on #180
@simoneb sure, I've linked them in the original report:

- Fastify Next.js example which does not work: https://github.com/neophob/nextjs-fastify-auth
- Next.js only example which does work: https://github.com/neophob/nextjs-auth

Thanks!

[2021-03-02 13:18] simoneb commented on #180
@neophob this can be easily fixed in userland by removing the `fastify-formbody` plugin registration and providing a dummy passthrough body parser. See the attached patch. [0001-passthough-body-parser.txt](https://github.com/fastify/fastify-nextjs/files/6068863/0001-passthough-body-parser.txt)

I'm not sure if this requires a more generic implementation to be included in this library though.

[2021-03-02 20:37] neophob commented on #180
Thanks @simoneb for your help! I applied the patch to my repo at https://github.com/neophob/nextjs-fastify-auth. Looks like the data is now passed down further but somehow the data did not arrive at nextjs now:

[code]

[2021-03-02 20:46] neophob commented on #180
@simoneb awesome, thanks - I tested it and it worked! But I agree about the core question, how should this "fix" be applied, updated documentation in the `fastify-nextjs` package or is the core issue more in the fastify core? Because when I hit this issue and figured out "oh - my app needs to parse `application/x-www-form-urlencoded`" - so obvious I installed the package `fastify-formbody`...

[2021-03-02 21:10] simoneb commented on #180
It's a good question and didn't think thoroughly about this. The thing is:

- you need to get the request body to nextjs, and that has to go through fastify
- therefore fastify needs to be able  to accept that request body with that content type
- but fastify should not consume the request body because it's intended to be consumed by nextjs

Therefore there needs to be a passthough done at some po

[2021-03-02 23:21] mcollina commented on #180
I'm +1 with the pass through content parser.

[2021-03-03 07:38] simoneb commented on #180
@neophob would you like to submit a PR to include this feature in this plugin?

[2021-03-03 08:01] neophob commented on #180
Sure - but tbh I'm not 100% sure we have the same understanding. To summarize my understanding:

- the pass through solution (as demonstrated in your PR) is fine
- to improve developer experience we document the finding of this very issue, the pr will update the readme

does that make sense?

[2021-03-03 08:15] simoneb commented on #180
Not exactly, we would like to include this feature in the plugin so it doesn't have to be done in user code.

[2021-03-03 08:30] neophob commented on #180
Oh I see. Implementing the type parser in this plugin would make it easier to use (less options to configure) - this would be a plus. But if I take a step back and see were I want to use my Next.JS app: it's an existing backend application with a frontend. So what if my backend already needs `fastify-formbody`? Then this solution won't work anymore I assume and we are back at the start and need to

[2021-03-03 08:33] simoneb commented on #180
I like the idea but it will change the semantics of how the plugin currently works, which is via server decorators. I'm not sure why the plugin was designed this way, I guess for good reasons, but I like the idea of using a plugin registration option to handle this.

[2021-03-03 09:04] mcollina commented on #180
I think we can remove the decorator if we want to, there is no need for it. It'd be a semver major change but likely better.

[2021-03-09 16:38] simoneb commented on #180
@neophob are you considering to send a PR to address this or are you happy with the fix in user-land?

[2021-03-10 08:52] neophob commented on #180
The user-land fix works for me! Thanks again!

[2021-03-10 08:52] #180 closed

[2021-03-27 03:56] jimthedev opened #207 "TypeScript error"
## 🐛 Bug Report

It is clear that that are types for fastify-nextjs and from what I can tell the types look ok with [a 'next' method being applied to fastify](https://github.com/fastify/fastify-nextjs/blob/master/index.d.ts#L20). The problem is that it is not being applied properly in my relatively simple application.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

[2021-03-27 11:57] mcollina commented on #207
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-04-17 11:02] Iamshankhadeep commented on #207
Hey @mcollina  I want to tackle this issue. Can you guide me about what needs to be done? I could not understood how `register()` adds new function type to `fastify` instance.

[2021-04-18 08:29] mcollina commented on #207
I think if's explained in https://www.fastify.io/docs/latest/TypeScript/. cc @fastify/typescript

[2021-04-18 09:52] Iamshankhadeep commented on #207
Ahh I see thanks for the doc. It was needed. cheers. @mcollina

[2021-04-22 15:24] KiraPC commented on #207
@Iamshankhadeep

I think there was a problem on your script.

You are referring to the fastify object not instantiated, so the error you are receiving from TS it's correct.

To make it works you need to refer to the fastify instance, that in your case it is the 'app' variable, that is an instance of type 'FastifyInstance' and has the 'next' method.

Working example based on your script.

[code]

[2021-04-22 16:52] climba03003 commented on #207
Closing for @KiraPC answer.

[2021-04-22 16:52] #207 closed

[2021-04-22 19:59] Iamshankhadeep commented on #207
Yeah that's true it was not a bug. Thanks for the help @KiraPC 🔥🔥

[2021-04-29 09:20] Fdawgs opened #238 "package-lock.json included with repo"
Should `package-lock.json` be included with this repo?

As recommended by @mcollina https://github.com/fastify/fluent-json-schema/pull/91#pullrequestreview-570606419 and [Snyk](https://snyk.io/blog/why-npm-lockfiles-can-be-a-security-blindspot-for-injecting-malicious-modules/) they pose a security risk.

If it does need to be included, we could add linting for it to the CI with [lockfile-lint](htt

[2021-04-29 11:13] mcollina commented on #238
It's needed as next and dependencies ship breaking changes in minor/patch releases.

[2021-04-29 11:14] Fdawgs commented on #238
Cheers, thanks for clarifying @mcollina

[2021-04-29 11:14] #238 closed

[2021-05-26 22:40] nonsensecodes commented on #88
@puvi034 how did you change the timeout period? I’m running into the same issue.

[2021-06-01 10:01] Eomm commented on #88
The timeout is the plugin one: https://www.fastify.io/docs/latest/Server/#plugintimeout

[2021-06-17 00:30] uipoet opened #279 "Next.js 11"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.18.0

### Plugin version

5.4.1

### Node.js version

14.7.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

NixOS

### Description

[code]

### Steps to Reproduce

1. update `next` to `11.0.0`

[2021-06-17 05:25] mcollina commented on #279
You need to update both the peerDependencies and the devDependencjes.

[2021-06-17 15:41] uipoet commented on #279
Isn't the issue that `fastify-nextjs` has a peer dependency on on `next` locked to v10?

[2021-06-17 15:48] mcollina commented on #279
Yes, it needs to be updated in both places. Would you like to send a PR?

[2021-06-17 16:44] uipoet commented on #279
Happy to, though won't have availability until next week.

[2021-06-19 12:34] #184 closed

[2021-06-20 12:13] CodingPheonix commented on #47
error still appearing?

{"level":50,"time":1624191071402,"pid":60269,"hostname":"Adityas-MacBook-Pro.local","reqId":"req-1","err":{"type":"FastifyError","message":"Promise may not be fulfilled with 'undefined' when statusCode is not 204","stack":"FastifyError: Promise may not be fulfilled with 'undefined' when statusCode is not 204\n    at /Users/adityaagrawal/Documents/Projects/GKapp/node_modules

[2021-06-22 23:06] SashaRyder opened #286 "404 on fastify.next("/")"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.18.0

### Plugin version

5.4.1

### Node.js version

v12.22.1

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Ubuntu 20.04

### Description

Whenever i'm trying to run fastify.next("/") i'm get

[2021-06-22 23:37] SashaRyder commented on #286
Fixed by moving code to index.tsx, i tried `pages/index/index.tsx` but it didnt seem to like that.

[2021-06-22 23:37] #286 closed

[2021-06-29 21:20] uipoet commented on #279
Thank you for the prompt update!

[2021-06-29 21:20] #279 closed

[2021-07-07 03:13] wolfejw86 commented on #88
For what it's worth I'm not seeing this as related to a timeout.  I get this behavior immediately when setting `NODE_ENV=production`.  Has anyone come across this / figured out a way to solve it?

[2021-07-11 02:00] Raz-Tw opened #300 "start failed after add tailwind"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.6.0

### Plugin version

3.0.0

### Node.js version

14.17.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.4

### Description

after add tailwind to css file,
the `npm run dev` start failed

[2021-07-16 09:02] mcollina commented on #300
Unfortunately tailwind takes too much time to compile, you need to increase the `pluginTimeout`:

[code]

[2021-07-16 09:02] #300 closed

[2021-08-23 23:12] mzegar opened #338 "`fastify.next is not a function` when running `NODE_ENV=production`"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.20.2

### Plugin version

6.0.0

### Node.js version

16.6.2

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04.2

### Description

Exactly similar to this https://github.com/fastify/fastify-

[2021-08-24 02:23] climba03003 commented on #338
Please `build` the next project before starting `fastify` in production.
AFAIK, it is what `nextjs` required for production mode.

[2021-08-24 02:24] #338 closed

[2021-09-13 10:46] mkhoussid opened #353 "`req` object in `getServerSideProps` is not updating whenever the page is revisited"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

I'm using [fastify-nextjs](https://github.com/fastify/fastify-nextjs) and here is my `server.js`:
[code]
I also have an API route `init`:
[code]
In my `index` page, I have the following content:
[code]
`setCookies` properly sets it, but

[2021-09-13 11:04] climba03003 commented on #353
`fastify-nextjs` pass the raw `Request` and `Response` object to `nextjs`.
All the method dealing with `fastify` own `Request` or `Reply` object will not be reflected to the raw one.

[2021-09-13 11:08] mkhoussid commented on #353
So are you saying it's impossible to access/pass the cookies to `getServerSideProps`?

[2021-09-13 11:14] climba03003 commented on #353
You need to map the `req` and `req.raw` to reflect the changes. Yes, if pass it like this you can access the redis instance.

[2021-09-13 11:21] mkhoussid commented on #353
I've tried that already:

[code]

[2021-09-13 11:24] climba03003 commented on #353
Are you using `localhost` to test? If yes, please refer to this issue https://github.com/fastify/fastify-cookie/issues/140

[2021-09-13 11:27] mkhoussid commented on #353
Thanks!

[2021-09-13 11:27] #353 closed

[2021-09-13 14:48] mkhoussid opened #354 "Redis instance is being mapped only once per app visit and only to the page that is being hit"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Reproducible demo/repo [here](https://github.com/mkhoussid/fastify-nextjs-redis)

I am mapping my redis instance to `req.raw`, but for some reason, it doesn't persist through page navigations, even if you return to the same page.

In my

[2021-09-27 20:38] dunklesToast opened #368 "Add option to set Cache Duration for _next files"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

It would be awesome if we could set a custom cache duration for the files under the `_next` path. It seems to be 1d per default, but I haven't found any solution to increase this.

### Motivation

Since Next.JS adds co

[2021-09-28 06:45] mcollina commented on #368
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-09-28 07:59] climba03003 commented on #368
The cache is actual set by `nextjs` itself. I think the user should follow the document from `nextjs`.

https://nextjs.org/docs/going-to-production#caching

[2021-09-28 09:46] #368 closed

[2021-10-01 14:20] ShogunPanda commented on #354
You are not doing nothing really wrong there.
The only misunderstanding is that Next.js based sites behave more like a SPA than static sites.

In other words, when switching between `/` and `/another`, the browser will just ask for JSON file. This happens both in dev and production mode and you can easily verify it using the browser console to track network activity.
The consequence for this is th

[2021-10-01 14:29] mcollina commented on #354
I think we should do 2. and document that.

[2021-10-01 15:46] mkhoussid commented on #354
Thank you, I've gotten my answer. Please close this issue as necessary.

[2021-10-01 16:05] mcollina commented on #354
I think this is a bug that should be fixed, the added route should not be needed.

[2021-10-08 15:35] radomird commented on #354
After looking into the suggestion that @climba03003 proposed, I've realised that there could be a very easy solution to this issue which doesn't require a change in the plugin.

@mkhoussid: In order to achieve to have the redis instance on all of the requests you could simply just add a `onRequest` hook and move the logic from your `afterHandler` to the hook and that will solve the problem.
[code]

[2021-10-08 22:43] climba03003 commented on #354
Yes, using `hooks` is also a valid approach.
It needs to be tested and documented.

@radomird Could you send a PR for the test-case and documentation?

[2021-10-08 23:15] mkhoussid commented on #354
Works.

Sorry @radomird , docs are great, but writing them sucks.

[2021-10-14 02:50] sbfkcel opened #384 "TypeError: fastify.next is not a function"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.22.0

### Plugin version

6.0.0

### Node.js version

14.15.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

10.15.7

### Description

I found that the plugin was not executed after prepar

[2021-10-14 07:13] #384 closed, assigned to nobody

[2021-10-21 02:07] sbfkcel commented on #88
I extended the plug-in loading time and it did solve it.

[2021-11-13 04:35] bkyerv opened #407 "failure to set up when using fastify-cli boilerplate"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Could you please add to the documentation what needs to be done in order to use fastify-nextjs with fastify-cli generated boilerplate project structure? Any attempt to use fastify-cli with fastify-nextjs results in failure to run the se

[2021-11-14 19:48] Eomm commented on #407
What is the error?

[2021-11-15 06:39] bkyerv commented on #47
fifth version of what this has been fixed from? fastify itself is v3, no?

[2021-11-15 10:52] bkyerv commented on #407
Hello Eomm, there is no error, it just doesn't launch without throwing any error. Basically boilerplate project generated using fastify-cli works absolutely fine until I start trying to add fastify-nextjs plugin after which it just doesn't launch the server yet doesn't throw any error either. The way I add fastify-nextjs is I register this app in the root file app.js and attache an .after method p

[2021-12-10 11:50] SeLub commented on #47
{"level":50,"time":1639136817759,"pid":127578,"hostname":"pop-os","reqId":"req-6","err":{"type":"FastifyError","message":"Promise may not be fulfilled with 'undefined' when statusCode is not 204","stack":"FastifyError: Promise may not be fulfilled with 'undefined' when statusCode is not 204\n    at /home/Documents/progs/nodejs2021Q4-service/node_modules/fastify/lib/wrapThenable.js:30:30\n    at pr

[2021-12-10 12:01] climba03003 commented on #47
Please open your own issue with reproducible example.

[2021-12-14 21:37] stefee opened #432 "Fastify hooks on the route opts type"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

This would allow to simplify the custom request properties example on the readme https://github.com/fastify/fastify-nextjs#custom-properties-on-the-request-object

Instead of needing a `register` with a prefix, you cou

[2021-12-14 21:46] stefee commented on #432
It looks like this feature already is implemented, but the type definition is incorrect.

[2021-12-15 11:34] stefee opened #435 "Unable to render _error page, renders 404 page instead"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.25.0

### Plugin version

7.0.0

### Node.js version

16.13.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.6.1

### Description

The plugin uses `app.render` under the hood, which exp

[2021-12-15 14:32] mcollina commented on #435
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-12-15 16:16] stefee commented on #435
Cheers - I think option 2 makes most sense specifically for this problem. Option 1 is a more general feature suggestion.

👉🏻  #436

[2021-12-27 11:02] #435 closed

[2022-01-04 18:56] DonsWayo commented on #407
@bkyerv maybe the problem is the first launch with nextjs If you use typescript the tsconfig.json changes and modify some parts, one is the ``` "noEmit": true``` this makes unable to compile anymore and the ./dist folder is always the same (source of fastify cli runs).
you need to change to ``` "noEmit": false```.

[2022-01-05 22:30] franky47 commented on #432
I'm hitting a similar issue: I'd like to run the onRequest hook only for Next.js pages that actually have a server-side function attached to it (getServerSideProps, getStaticProps for ISR).

So far I can only register the onRequest hook globally (including all non-Next API routes handled by Fastify), or none at all.

Here's my attempt at encapsulating the onRequest hook:
[code]

@stefee have you f

[2022-01-05 22:41] stefee commented on #432
I found that encapsulating the `.next(‘*’)` in a plugin (with `.register`) fixed my issue - now the `onRequest` is only called for requests handled by Next.js.

I also have an early return in the `onRequest` handler for public static files:

[code]

[code]

I was going to try to find a better way of doing this - maybe just disabling static file serving in the plugin and doing it with a separate pl

[2022-01-05 22:57] franky47 commented on #432
It did not occur to me to isolate the rest of the routes, it makes sense, however it doesn't work in my case as I only want the hook on a subset of Next.js pages.

FYI, I also had an issue with using `fastify-plugin`, which was hoisting the hook to the rest of my routes. Since it's not useful in my case (no shared decorators), the following worked for me without needing any encapsulation other tha

[2022-01-06 14:10] mcollina commented on #432
A PR would be highly welcomed.

[2022-01-11 22:10] sqwerl opened #457 "Add support for http2"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Add support for serving next.js with a HTTP2 using fastify

### Motivation

_No response_

### Example

_No response_

[2022-01-11 22:17] mcollina commented on #457
I think it should work out of the box, isn't it?

[2022-01-22 12:45] #432 closed

[2022-01-24 16:07] makks129 opened #464 "Plugin not working with option dev: true"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.25.3

### Plugin version

7.1.1

### Node.js version

16

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.6.2

### Description

Throwing the following error when passing an option `{ dev:

[2022-01-25 17:47] mcollina commented on #464
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-01-27 09:26] mcollina opened #470 "Update dependencies"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

latest

### Plugin version

master

### Node.js version

16

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

github actions

### Description

The following are failing:

* https://github.com/f

[2022-01-27 12:47] makks129 commented on #464
The problem was that nextjs needs more time to start up, so in dev mode I needed to add:
[code]

[2022-01-27 12:47] #464 closed

[2022-01-28 18:40] #470 closed

[2022-02-02 08:10] Eomm commented on #464
Go for it

[2022-02-05 17:10] stefee opened #478 "Q: is `noServeAssets` supposed to apply to both `/_next/data` and `/_next/static` ?"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

The section on [asset serving](https://github.com/fastify/fastify-nextjs#assets-serving) in the readme led me to think that routes under `/_next/*` are "assets" i.e. static assets (and hence the `noServeAssets` will disable static asset

[2022-02-05 18:44] mcollina commented on #478
Thanks for reporting. Unfortunately, I don't have a good answer for your question. If you figure it out and would like to send a PR to fix or improved the docs, it'd be amazing!

[2022-02-06 08:53] stefee commented on #478
I’ll see if I can make it clearer on Next.js side

[2022-02-27 21:21] ivanjeremic opened #489 "How to handle dynamic routes"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Next.js supports dynamic routs like `[query].js` but with fastify-nextjs this does not work do I need to add additional settings for this?

[2022-03-02 12:00] #489 closed

[2022-03-06 10:06] ivanjeremic opened #492 "Tailwind CSS compiler not working in fastify-nextjs"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Tailwind CSS has in the Documentation a installation guide for Next.js and following it in fastify-nextjs does not give me any styles, do I need to add additional settings to my server to trigger the tailwindcss compiler?

[2022-03-06 14:50] darkgl0w commented on #492
Hello, @ivanjeremic.

In order to use `tailwindcss` you need to :

1. initialize your project :
[code]
2. create `index.js`:
[code]
3. follow [this guide](https://tailwindcss.com/docs/guides/nextjs) from step 2 to step 4
4. then override Next.js App by creating `./pages/_app.tsx` (here I use Typescript but you can do it with plain JavaScript if you want):
[code]
5. create `./pages/home.tsx` :
[cod

[2022-03-06 14:57] ivanjeremic commented on #492
Is the use of typescript necessary? I currently did everything like you described except using typescript (I'm on an ESM project) and only my tailwind.config is a `.cjs` because the config does not support ESM yet.

[2022-03-06 14:59] darkgl0w commented on #492
No I used typescript but as I said you can achieve the same result using plain JavaScript

[2022-03-06 15:00] ivanjeremic commented on #492
It does not work, my project is MJS I think tailwind doesn't like that

[2022-03-06 15:06] darkgl0w commented on #492
skip this part.

- use `./pages/_app.js` or `jsx` instead of `./pages/_app.tsx` with :
[code]
- rename as `./pages/home.js` or `jsx` instead of `./pages/home.tsx`

[2022-03-06 15:33] darkgl0w commented on #492
@ivanjeremic is it ok with these changes ? can I close this issue ?

[2022-03-06 16:45] ivanjeremic commented on #492
I think the problem is that I need to have ```
 |── postcss.config.cjs
└── tailwind.config.cjs
[code]

[2022-03-06 16:49] darkgl0w commented on #492
Then just rename your files and add cjs extension to `tailwind.config.js` content property

[2022-03-06 16:54] ivanjeremic commented on #492
I already use `.cjs` for my config files. But it is not working.

[2022-03-06 17:19] darkgl0w commented on #492
As a workaround you can do this :

- Run this command :
[code]
- Inside `./pages/_app.jsx` change `global.css` import with `main.css`

It should work.
NB: this seems to be a limitation of tailwindcss with esm :/

[2022-03-06 17:34] ivanjeremic commented on #492
Yep that works thanks, hope library authors will take ESM more serious in the future.

[2022-03-06 19:20] climba03003 commented on #492
Looking through the conversation, I believe nothing can do with `fastify-nextjs`. So, I am closing the issue.

[2022-03-06 19:20] #492 closed

[2022-03-12 21:56] franky47 commented on #84
Sorry for necroposting, but I was hitting a similar issue as @rgrove, where I was trying to set cookies on the Fastify reply in `getServerSideProps` (by passing the Fastify reply as a custom property on the raw request). I'm posting my solution here as it may help others.

The fix in #112 only applies headers that have been set **before** running the Next.js handler, and in my case the `Set-Cookie

[2022-03-17 09:30] ivanjeremic opened #497 "custom root for fastify-nextjs"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

I know how to create a custom root in next.js using the `next.cofig` the same works here but what I want is to ship my whole `fastify-nextjs` User Interface as an fastify plugin available on NPM, so the user of this plugin should regist

[2022-03-19 21:54] ivanjeremic commented on #497
I now found that I can do that with custom nextjs option ` { dir: "./customPath" }` however it grabs on my production node server still the jsx files and I get `You may need an appropriate loader to handle this file type` it seems like I'm not using the production Nextjs version how do I start the production version of fastify-nextjs on a production server? Thanks

[2022-03-21 08:06] Eomm commented on #497
You need to set the node env var:

https://github.com/fastify/fastify-nextjs/blob/master/index.js#L16

[code]

[2022-03-21 08:06] #497 closed

[2022-03-21 13:34] ivanjeremic commented on #497
Thanks works.

[2022-04-27 21:22] #407 closed

[2022-04-27 21:22] #457 closed

[2022-04-27 21:22] #478 closed

[2022-06-10 10:29] rriski opened #549 "Fastify v4 error: "under-pressure - expected '3.x' fastify version, '4.0.0' is installed""
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.0.0

### Plugin version

8.0.0

### Node.js version

16.13.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.1

### Description

When using @fastify/nextjs with the underPressure option

[2022-06-10 11:23] Fdawgs commented on #549
`under-pressure` needs to be replaced with the latest version of `@fastify/under-pressure`, would you like to open a PR to tackle this?

[2022-06-10 11:49] rriski commented on #549
Sure thing! Here: https://github.com/fastify/fastify-nextjs/pull/550

[2022-06-14 07:07] mcollina opened #555 "Update to latest Next.js"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

all

### Plugin version

8.0.0

### Node.js version

all

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

all

### Description

Due to updates in Next.js, the tests are failing because `.injec

[2022-06-14 07:08] mcollina commented on #555
@SimenB I think you are using this module, so maybe this is something you might want to take on.

[2022-06-14 07:15] SimenB commented on #555
We use this yes, but we don't use `inject` with it (we don't test the server part of this, just client side 🙈). We've been using 12.1.x in production since march fwiw without issues, so the compatibility issue seems to be with `inject` (`light-my-request`?) and not a "real" request?

I unfortunately don't have the capacity at the moment to dig into this, sorry!

[2022-06-14 07:17] mcollina commented on #555
The current state is that the tests for this module are not passing and fixing them is a blocker for updating to Fastify v4.

[2022-06-14 07:19] SimenB commented on #555
would migrating to using real requests be an option (i.e. `.listen` and undici or something)?

[2022-06-14 07:25] mcollina opened #557 "Update to Fastify v4"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Currently the update to Fastify v4 is blocked by latest Next.js being incompatible with this module testing approach (#555).

After that is solved, we would need to update this module to Fastify v4.

### Motivation

_N

[2022-06-14 07:26] mcollina commented on #549
Unfortunately I had to reopen this as v8 is meant to support Fastify v3 and this module was not ported to Fastify v4 yet (blocked by #555 and #557)

[2022-06-14 08:13] mcollina commented on #555
Migrating to real requests would be ok too.

[2022-06-14 10:11] SimenB commented on #555
@mcollina FWIW, 12.0.9 (and 12.0.10) fails the tests, so it's not just 12.1 which fails. This repo has 12.0.8 in its lockfile, seems to be the last one that works. Migrating to real requests doesn't help much (`19 failed, 26 passed, of 45` vs `23 failed, 15 passed, of 38` on master (no idea how `tap` counts, so might be worse for all I know)).

Since I spent the time on migrating, I've pushed up t

[2022-06-14 14:35] mcollina commented on #555
Ouch, it seems worse than expected. I'm a bit concerned in the long-term feasibility of this module.

[2022-06-22 08:48] mcollina commented on #555
@kurtextrem as you are using in prod, you might want to check this!

[2022-06-28 09:51] stefee commented on #555
We're using this in prod currently. I can work on a re-write privately and publish when I'm done. It might make more sense to maintain outside of the `@fastify` scope as a private project.

I would note also that the Next.js team seems to prefer people not to use this approach at all. https://github.com/vercel/next.js/pull/35618#pullrequestreview-1019409127

[2022-06-28 10:40] galvez commented on #555
FYI Most common Next.js features are supported by [Fastify DX for React](https://github.com/fastify/fastify-dx).

[2022-06-28 11:17] stefee commented on #555
We are using Next.js for many reasons such as popularity and React 18 features like Streaming SSR, but partly because of the `next export` feature for SSG which will reduce our server infrastructure costs a lot for internal-facing applications, which probably don't really need SSR. React SSR is quite expensive to run. https://nextjs.org/docs/advanced-features/static-html-export

[2022-07-02 03:56] jessekrubin opened #566 "Would be interested in seeing some sort of benchmarks (@fastify/nextjs)"
## **EDIT: I thought I was posting this specifically on the fastify-nextjs repo.**

### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

**EDIT: I thought I was posting this specifically on the fastify-nextjs repo.**

No issue to report. Just here to say that I would be interested in seei

[2022-07-02 05:19] climba03003 commented on #566
Transfered to `fastify-nextjs`.

[2022-07-02 07:32] mcollina commented on #566
Thanks for reporting! Would you like to send a Pull Request to address this issue?

[2022-07-02 21:28] jessekrubin commented on #566
For sure! Anything to help push the fastify ecosystem forward!

[2022-07-06 16:28] AlfeeAeman commented on #384
any solution given for this?

[2022-07-06 16:30] AlfeeAeman opened #571 "fastify.next() is not a function"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

_No response_

[2022-07-06 16:42] jsumners commented on #571
Sorry. I thought this was a different repo. However, you really should provide more information. A minimal reproduction is usually needed.

[2022-07-07 05:15] AlfeeAeman commented on #571
this package is not supported for fastify 4.x.x version

[2022-07-07 06:24] mcollina commented on #571
This module is not compatible with Fastify v4: https://github.com/fastify/fastify-nextjs/issues/557. Moreover that issue is blocked.

[2022-07-07 06:24] #571 closed

[2022-07-07 11:17] mcollina commented on #557
This is currently blocked by https://github.com/fastify/fastify-nextjs/issues/555. Essentially it needs work, help and love.

[2022-07-12 03:26] jessekrubin commented on #555
FWIW: This WAS an issue/bug for my team with next 12.2.0 but has not been for 12.2.1 and 12.2.2

[2022-07-20 16:41] jessekrubin commented on #566
@mcollina I did some testing of this over the weekend and can write it up when I have time... BUT it all comes down to fastify-nextjs being just as fast as the next server, tho if you are using fastify-nextjs there is a higher warmup cost than there is with just next. I did a bunch of different trials and fastify came to the conclusion that it is mostly "too close to call!"

PS: I used this cool c

[2022-07-21 06:57] mcollina commented on #566
Seems about right, it is the next server after all ;).

[2022-07-30 15:50] stefee commented on #555
I've just published an unofficial plugin called [fastify-next](https://www.npmjs.com/package/fastify-next) which has support for Fastify v4 and [some other changes](https://github.com/stefee/fastify-next#comparison-with-fastifynextjs).

Source code is here: https://github.com/stefee/fastify-next/blob/main/src/index.ts

This is not yet a stable release (v0.x) so I don't recommend using in productio

[2022-07-30 15:52] stefee commented on #557
See comment https://github.com/fastify/fastify-nextjs/issues/555#issuecomment-1200237882

[2022-07-30 17:26] mcollina commented on #555
The problem that Next.js is fundamentally incompatible with one of the basic primitives of Fastify (inject) remains.

[2022-07-30 18:15] stefee commented on #555
I recommend that people mock Next.js in tests.

[2022-07-30 21:53] mcollina commented on #555
That would be a reasonable approach to upgrade this.

[2022-08-12 14:02] drakhart commented on #555
Hi guys! I've opened and referenced a PR migrating all tests to real requests, as suggested and inspired by [SimenB](https://github.com/SimenB), and updating Next to the latest version, and everything seems to be working fine. Please have a look at it whenever you can. 🙏

As a side note, mocking Next.js didn't sound really appealing to me, since we're testing the actual integration between Fastify

[2022-08-12 15:05] #555 closed

[2022-08-12 15:14] drakhart commented on #557
Since #555 is no longer a blocker I'll try my best at this issue too. 🤞

[2022-08-12 15:32] Uzlopak commented on #557
@drakhart
see #589

[2022-08-12 15:38] drakhart commented on #557
Nice! 👏

[2022-08-12 16:21] #549 closed

[2022-08-12 16:21] #557 closed

[2022-08-13 08:21] Uzlopak opened #592 "Remove package-lock, 2nd try"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

As discussed and mentioned here: https://github.com/fastify/fastify-nextjs/issues/238

Nestjs is not using semver. So breaking changes are possible.

What if we still remove the package-lock and pin the version in the package.json? It s

[2022-08-14 06:36] #592 closed

[2022-08-29 09:09] SimenB opened #609 "Getting FastifyDeprecation: Modifying the "reply.sent" property is deprecated. Use the "reply.hijack()" method instead."
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.5.3

### Plugin version

9.1.0

### Node.js version

16.17.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.5.1

### Description

Not sure why I haven't seen this error before, https://

[2022-08-29 10:22] mcollina commented on #609
https://github.com/fastify/fastify-nextjs/blob/master/index.js#L91 and https://github.com/fastify/fastify-nextjs/blob/master/index.js#L105 should be replaced.

[2022-08-29 10:31] SimenB commented on #609
Yeah, I've sent #610 🙂

[2022-08-29 10:35] #609 closed

[2022-08-31 06:48] yantingxi opened #612 "There is no host in the middleware of nextjs"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

9.0.0

### Plugin version

_No response_

### Node.js version

v16.10.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

CentOS Linux 7 (Core)

### Description

When the host of listen is set

[2022-08-31 08:23] mcollina commented on #612
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-10-21 06:51] kangchals opened #636 "Can you add an example for Assets serving in the readme ?"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

I just want to add robot.txt on the next app but

I do not know where to put the file.

I checked it on the source code but https://github.com/fastify/fastify-nextjs/blob/master/index.js#L36

I am kind of new to the fastify so I still n

[2022-10-21 07:04] climba03003 commented on #636
You should not use `nextjs` to serve `robot.txt`.
Create a dedicated route to response with `/robot.txt`.

[code]

[2022-10-21 07:05] climba03003 commented on #636
If you really want to serve it. You may try to follow the [`nextjs` guide](https://nextjs.org/learn/seo/crawling-and-indexing/robots-txt)
Put the file inside `public` folder.

[2022-10-21 07:17] kangchals commented on #636
@climba03003 Thank you for quick reply.

Your help is working well.

I just want to know more for the future.
How about images? how to get some images in the next app?

[2022-10-21 07:29] kangchals commented on #636
I put image below paths but none of them are working

/public
/src/public
/src/pages -> nextjs page folder
/src/_next/public

http://127.0.0.1:7000/testFile.png
{"message":"Route GET:/testFile.png not found","error":"Not Found","statusCode":404}

[2022-10-21 07:43] climba03003 commented on #636
The `html` serve by `nextjs` should be requesting `/_next/static/testFile.png`.
Are you querying the actual path using browser?

[2022-10-21 08:07] kangchals commented on #636
Thank you for your help.
I just want to summary below for others

/public/testFile.png
/src/pages -> nextjs page folder

in .tsx
`<Image src="/testFile.png" width="100" height="100" />`

[2022-10-21 08:07] #636 closed